name: Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DO_HOST }}
          username: bedrock
          key: ${{ secrets.DO_SSH_KEY }}
          command_timeout: 20m
          script: cd ~/app && ~/deploy.sh
